@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fahrten-table th,
.fahrten-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fahrten-table .datum-col { width: 100px; }
.fahrten-table .ort-col { width: 150px; }
.fahrten-table .anlass-col { width: 200px; }
.fahrten-table .kilometer-col { width: 60px; }
.fahrten-table .abrechnung-col { width: 120px; }
.fahrten-table .mitfahrer-col { width: 150px; }
.fahrten-table .aktionen-col { width: 200px; }

.mitfahrer-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.mitfahrer-item {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.mitfahrer-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px; /* Passen Sie dies nach Bedarf an */
}

.add-mitfahrer-button {
  align-self: flex-start;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  table {
    font-size: 0.875rem;
  }
  
  th, td {
    padding: 0.5rem 0.25rem;
  }
  
  input, select {
    font-size: 0.875rem;
  }
  input {
    height: 1.69rem;
  }
  
  
  button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}

@layer utilities {
  .flex-col-mobile {
    @apply flex-col sm:flex-row;
  }
  
  .w-full-mobile {
    @apply w-full sm:w-auto;
  }
  
  .mb-2-mobile {
    @apply mb-2 sm:mb-0;
  }
}
